/* Variables */

:root{
    --FuentePrincipal:Source Sans Pro;
}
 
/* GLOBALES */
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 23px;
}

.centrar{
    width:95%;
    margin: 0 auto;
    
}

body{
    font-family:var(--FuentePrincipal) ;
}


a{
    text-decoration: none;
   
}
/* Fondo */
main {
    background-image: url(/img/fondo.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: left;
}

main section{
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Encabezado */
.logo {
    color: beige;
}
.logo span{
    font-weight: 900;
}

header{
   background-color: rgb(0, 0, 0); 
}
.encabezado{
    padding: 10px 0;
    text-align: center;
}
@media (min-width:759px){
    .encabezado{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
      
}
.nav{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-align: center;
   
}

.nav a{
  text-transform: uppercase;
  font-weight: 900;
  color: beige;
  
}

@media (min-width:759px){
    .nav{
        flex-direction: row;
        column-gap: 15px;
      }
      
}

/* Login */


.login{
    padding: 40px 0;
    display: flex;
    justify-content: center;

  
} 

.login h2{
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 20px 0;
}

.contenedor .contenedor-individual input{
    text-decoration: none;
   border-style: none;
   border-radius: 5px;
   padding: 5px 2px;

}
.alinear-icon:last-of-type{
    margin-top: 35px;
}

.contenedor .contenedor-individual p{
color: white;
font-weight: 900;
text-transform: uppercase;
margin-bottom: 2px;

}

form{

    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(55,22,22);
    background: linear-gradient(356deg, rgba(55,22,22,0.36036412856158084) 0%, rgba(255,255,255,0.5940543185459094) 100%); 
    padding: 20px 50px;
    border-radius: 5px;
    
}

.alinear-icon{
    display: flex;
    align-items:flex-end;

}

.fa-usi {
    font-size: 30px;
    margin-right: 15px;
    color: white; 
}
.fa-llave{
    font-size: 30px;
    margin-right: 15px;
    color: white;
    width: 26.25px;
}

.login button{
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    padding: 10px 9px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 900;
    background: rgb(29,85,253);
    background: linear-gradient(90deg, rgba(29,85,253,1) 0%, rgba(131,58,180,1) 50%, rgba(252,69,203,1) 100%); 

    border-width: 0.1px;
  
}


/* Footer */

footer{
    background-color: rgb(0, 0, 0);   
}
.footer{
    padding: 10px 0;
    text-align: center;
}

.footer p{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  color: beige;
}

@media (min-width:759px){
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}